<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name = "OrangeHRM Testing Suite">
<listeners>
   <listener class-name="Utils.AllureListener"></listener>
</listeners>


   <test name = "Personal Info Test">
      <classes>
         <class name = "PersonalInfoTest" />
      </classes>
   </test>

   <test name = "Writing posts Test">
      <classes>
         <class name = "BuzzTest" />
      </classes>
   </test>
</suite>

